.navbar {
    background-color: #333;
    padding: 10px 20px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar .auth-buttons {
    display: flex;
    align-items: center;
  }
  
  .navbar .auth-buttons a {
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
  }
  
  .navbar .auth-buttons button {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 30px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 16px;
  }
  
  .navbar .auth-buttons button:hover {
    background-color: #fff;
    color: #333;
  }
  
  @media screen and (max-width: 768px) {
    .navbar .auth-buttons {
      flex-direction: column;
      align-items: center;
    }
  
    .navbar .auth-buttons button {
      margin-top: 10px;
      width: 150px;
    }
  }
  