body {
  background: linear-gradient(to bottom, #333333, #000000);
  font-family: Arial, sans-serif;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  width: 90%;
  max-width: 400px;
}

.login-form, .register-form {
  background-color: #333333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

h3 {
  color: #ff4d4d;
  text-align: center;
}

button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #ff4d4d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #cc0000;
}

input {
  text-align: center;
  background-color: #666666;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  color: #fff;
}

